<div class="about-wrapper">
  <div class="about-content">
    <div class="">
      <img src="https://firebasestorage.googleapis.com/v0/b/kharcha-app-bc29a.appspot.com/o/user-img.png?alt=media&token=4e8bf6cd-cdd9-4217-bf44-9ac2117ea466" alt=""><br>
    </div>
    <p> <b>Username</b>: {{user_id}}</p><br>
    <p> <b>Name</b>: {{name}} </p><br>
    <p> <b>Email</b>: {{email}} </p><br>
    <p> <b>Mobile</b>: {{ph_no}} </p>
    <a routerLink="/reset">Change Password</a>
  </div>
  <div class="about-text">
    <p>This app was developed for the purpose of an Users monitoring and calculation of monthly expences made on your daily basis. This is just a very small step todays a Big saving in the future for your own future We <b>Thank You</b> For using our app and leting us to help you on managing your expences.</p>
  </div>
</div>
