//common
.bdr-rw{
  border-right: 1px solid white;
}
.bdr-bw{
  border-bottom: 1px solid white;
}

.open{
  left: -20px;
}
.closed{
  left: -2000px;
}

.navbar{
  .nav{
    z-index: 1;
    padding: 0;
    position: fixed;
    top: -16px;
    left: 0;
    right: 0;
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: flex-end;
    li:nth-child(1){
      flex-basis: 50%;
      background: #000000;
      text-align: left;
      font-size: 20px;
      &:hover{
        background: #000000;
      }
        @media(max-width: 767px){
          display: flex;
          flex-basis: 100%;
        }
        .hidden-nav-button{
          display: none;
          position: relative;
          transition: .3s;
          @media(max-width: 767px){
            display: block;
            margin-right: 10px;
            height: 24px;
            width: 33px;
          }
          .hidden-nav{
            display: none;
            list-style: none;
            background: -moz-linear-gradient(45deg, #FF0000 0%, #800000 50%, #ff0000 100%); /* ff3.6+ */
            background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #FF0000), color-stop(50%, #800000), color-stop(100%, #ff0000)); /* safari4+,chrome */
            background: -webkit-linear-gradient(45deg, #FF0000 0%, #800000 50%, #ff0000 100%); /* safari5.1+,chrome10+ */
            background: -o-linear-gradient(45deg, #FF0000 0%, #800000 50%, #ff0000 100%); /* opera 11.10+ */
            background: -ms-linear-gradient(45deg, #FF0000 0%, #800000 50%, #ff0000 100%); /* ie10+ */
            background: linear-gradient(45deg, #FF0000 0%, #800000 50%, #ff0000 100%); /* w3c */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0000', endColorstr='#FF0000',GradientType=1 ); /* ie6-9 */
            position: absolute;
            top: 45px;
            width: 368px;
            transition: all .4s ease;

              @media(max-width: 767px){
                display: block;
                padding: 0;
                li{
                  display: block;
                  background: transparent;
                  text-align: center;
                }
              }
          }
        }
    }
    li{
      cursor: pointer;
      text-align: center;
      flex-basis: 10%;
      padding: 20px 20px;
      background: #000000;
      color: white;
      transition: .3s;
      &:hover{
        background: #151515;
      }
      &:focus{
        outline: none;
      }
        @media(max-width: 767px){
          display: none;
        }
    }
  }
}
