.reset{
  .reset-field{
    width: 450px;
    padding: 25px;
    box-shadow: 7px 5px 24px -2px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    h2{
      font-size: 36px;
    }
    input {
      margin: 5px 0;
      border: 1px solid #ccc;
      padding: 10px 75px;
      text-align: center;
      border-radius: 5px;
      outline: #ccc;
      &:hover{
        box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
      }
    }
    button{
      background: red;
      border: none;
      color: white;
      font-size: 17px;
      font-family: 'Staatliches', cursive;
      cursor: pointer;
      margin-top: 10px;
      border-radius: 5px;
      padding: 5px 15px;
      &:hover{
        outline: red;
        box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
      }
    }
  }
}
