<div class="reset">
  <div class="reset-field">
    <h2>Reset Password</h2>
    <div class="reset-field-input">
        <input id="current" type="text" placeholder="Current Password" [(ngModel)]="change" ><br>
        <input id="new" type="password" placeholder="New Password" [(ngModel)]="new" ><br>
        <input id="confirm" type="text" placeholder="Confirm Password" [(ngModel)]="confirm" ><br>
        <button type="button" name="button" (click)="send()">Change</button>
    </div>
  </div>
</div>
