@import url('https://fonts.googleapis.com/css?family=Staatliches&display=swap');

.body{
  max-width: 100%;
  font-family: 'Staatliches', cursive;
  .route{
    margin-top: 5%;
    padding: 10px;
    @media (max-width: 767px){
      margin-top: 18%;
      border: 1px solid black;
      margin-left: -8px;
      margin-right: -8px;
    }
  }
}
