<div class="add_bill_container">
    <h1 class="add_bill_header">List All Your Expences</h1>
    <div class="bill-form">
      <div class="name">
        <label for="">Name Of Expence: <input type="text" name="" value=""></label>
      </div>
      <div class="amt">
        <label for="">Amout Spent : <input type="number" name="" value=""></label>
      </div>
      <div class="date">
        <label for="">At which Date: <input type="date" name="" value=""></label>
      </div>
      <div class="save">
        <button type="button" name="button">Add</button>
      </div>
    </div>
    <button type="button" name="button">Save</button>
</div>
