<div class="add_bill_container">
    <h1 class="add_bill_header">List All Your Expences</h1>
    <div class="bill-form">
      <div class="name">
        <label for="">Name Of Expence: <input type="text" [(ngModel)]="exp.name" placeholder="Enter the Expense name"></label>
      </div>
      <div class="amt">
        <label for="">Amout Spent : <input type="number" [(ngModel)]="exp.amt"></label>
      </div>
      <div class="date">
        <label for="">At which Date: <input type="date" [(ngModel)]="exp.date" ></label>
      </div>
      <div class="save">
        <button type="button" name="button" (click)="add()">Add</button>
      </div>
    </div>
    <div class="bill-view">
      <div class="bill">
        <div class="id">
          <u>ID</u>
        </div>
        <div class="expname">
          <u>Expence Name</u>
        </div>
        <div class="expamt">
          <u>Amt.</u>
        </div>
        <div class="expdate">
          <u>Date</u>
        </div>
      </div>
      <div class="bill" *ngFor="let item of final_data; let i = index " >
        <div class="id">
          {{i + 1}}.
        </div>
        <div class="expname">
          {{item.name}}
        </div>
        <div class="expamt">
          Rs. {{item.amt}}
        </div>
        <div class="expdate">
          {{item.date}}
        </div>
      </div>
    </div>
</div>
