<div class="Exp">
  <h2>Total Expence</h2>
  <div class="Exp-crate">
    <div class="Exp-crate-month">
      <label for="">Select A Month: </label>
      <select id="year" class="" name="" [(ngModel)]="month_select" >
        <option [value]="yy" *ngFor="let yy of month_data" >{{monthname(yy)}}</option>
      </select>
    </div>
    <div class="Exp-crate-year">
      <label for="year">Select a year: </label>
      <select id="year" class="" name="" [(ngModel)]="year_select" >
        <option [value]="yy" *ngFor="let yy of year_data" >{{yy}}</option>
      </select>
    </div>
    <div class="search">
      <button type="button" name="button" (click)="search()">Search</button>
    </div>
  </div>
  <div class="Exp-result">
    <google-chart #chart
       [title]="title"
       [type]="type"
       [data]="data"
       [options]="options"
       [width]="width"
       [height]="height">
    </google-chart>
  </div>
</div>
